
<%=link_to "Add Column", new_project_entity_field_path(@entity.project,@entity) ,method: "get"%>
<table class="table table-striped">
  <thead>  
    <tr>  
      <th>Name</th>  
      <th>Type</th>  
      <th>NULL</th>  
      <th>Default</th>  
      <% if current_user == @owner %>
        <th> Drop </th>
      <%end%>
    </tr>  
  </thead>  
  <tbody>  
    <% @fields.each do %>
      <% |field| %>
        <tr>  
          <td><%=@field.name%></td>  
          <% if !(@field.type_arg1.nil? or @field.type_arg2.nil? ) %>
            <td><%=@field.type(@field.type_arg1,@field.type_arg2)%></td>  
          <% elsif  !(@field.type_arg1.nil?) %>
            <td><%=@field.type(@field.type_arg1)%></td> 
          <%else%>
            <td><%=@field.type%></td> 
          <%end%>
          <td><%=@field.null_value%></td>
          <td><%=@field.default%></td>  
          <% if current_user == @owner %>
            <td> <%=link_to "delete",project_entity_field_path(@field) ,method: "delete"%></td>
          <%end%>
        </tr>
    <%end%>  
  </tbody>  
</table> 