<%= form_tag( report_query_project_path(@project) , method: "post",data: {id: @project.id},id: "query_form") do %>
  
  <div class="form-group functions">
    <%= label_tag "Choose the functions"  %>
    <%= select_tag  "function" ,  options_for_select( [["count","1"],["max","2"],["min","3"]]) %>
  </div>

  <div class="Entities" id="entity_1">
    <%= select_tag  "entity_name_1" ,   options_for_select( @project.entities.collect{ |d| [ d.model_name , d.model_name , {data: { arg: d.id}}] } ) , id: "model_select" %>
    <button class="add_entity" type="button" >Plus</button>
    <%=  tag("div", class:"span10 offset1 entity_above" , id: "entity_above_1" ,data: {id: @project.id}) %>
      <%=render partial:'shared/query_select_fields' ,locals: {field: @project.entities.first.fields,counter: "1"}%>
    </div>
  </div>

  <%= submit_tag("Submit" , class: "btn btn-primary btn-medium") %>
<% end %>