<h1> Project Information </h1>
<div> 
	

	<ul class="nav nav-tabs">

        <li>
          <%= link_to("Project Information",  Project.find(params[:id].to_i)  , data: {toggle: ""} ) %>
        </li>

        <li class="active">
            <a data-toggle="tab" href="#coll">Collaborators</a>
        </li>

        <li>
            <a data-toggle="tab" href="#table">Tables</a>
        </li>

        <%project=Project.find(params[:id].to_i)%>
        <% if current_user == project.user %>
        	<div class="navbar-search pull-right">
                <%= form_tag(collaborations_path, method: "post") do %>
                  Email <%= text_field_tag(:email) %>
                  <%= hidden_field_tag :pid, project.id %>
                  <%= submit_tag("Add") %>
                <% end %>
    			<!-- <input type="text" class="search-query" placeholder="Add Collaborator"> -->
    		</div>
        <%end%>
    </ul>


    <div class="tab-content">
    	<div id="info" class="tab-pane fade">
            
        </div>
        <div id="coll" class="tab-pane fade in active">
            <h3>Collaborators</h3>
            <%debugger%>
            <%= render partial: 'shared/display_users' , locals: {users: @collaborators}%>            
        </div>
        <div id="table" class="tab-pane fade">
            
        </div>

    </div>
	
</div>