<h1> Project </h1>
<div> 
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#info">Project Information</a>
    </li>
    <li >
      <%= link_to("Collaborators",  project_collaborations_path(@project)  , data: {toggle: ""} ) %>
    </li>
    <li>
      <%= link_to("Tables",  project_entities_path(@project)  , data: {toggle: ""} ) %>
    </li>
    
    <% if @project.collaborating_users.include? current_user %>
      <div class="navbar-search pull-right">
        <%= button_to "Collect Stats", submit_query_project_path(@project), :class => "btn btn-primary btn-medium", :method => :get %>
      </div>
    <%end%>
    <%# if current_user == @project.user %>
      <!-- <div class="navbar-search pull-right"> -->
        <%#= form_tag(project_collaborations_path(@project), method: "post") do %>
          <!-- Email  -->
          <%#= text_field_tag(:email) %>
          <%#= hidden_field_tag :pid, @project.id %>
          <%#= submit_tag("Add") %>
        <%#end %>
      <!-- </div> -->
    <%#end%>
  </ul>


  <div class="tab-content">
    <div id="info" class="tab-pane fade in active">
      <%= render partial: "shared/project_show" %>
    </div>

    <div id="coll" class="tab-pane fade">
      <h3>Collaborators</h3>
      <div class = "row">
        <%@project.collaborating_users.each do%>
        <% |user| %>
        <div class="span8"><%= user.name %></div>
        <%end%>
      </div>
    </div>
    <div id="table" class="tab-pane fade">
      <h3>Section C</h3>
    </div>
  </div>
</div>
