<h1> Enter Your Query to collect your stats </h1>

<%= form_tag( report_query_project_path(@project) , method: "post",data: {id: @project.id},id: "query_form") do %>
  <%= hidden_field_tag :coming_from_submit_query, "1" %>  
  <div class = "form-group">
    <%= label_tag "Enter your database password"  %>
    <%= password_field_tag(:dbpassword) %>
  </div>

  <div class="form-group functions">
    <%= label_tag "Choose the Function"  %>
    <%= select_tag  "function" ,  options_for_select( [["Count","count"],["Maximum","max"],["Minimum","min"],["Average","avg"]]) %>

    <div class= "Function_entity">
      <%= label_tag "Choose the Entity on which function will work"  %>
      <%= select_tag  "function_entity" ,   options_for_select( @project.entities.collect{ |d| [ d.model_name , d.table_name , {data: { arg: d.id}}] }.insert(0,"") ) , class: "Function_Model" %>
    </div>
  </div>
  <h3> Choose Joining Parameters </h3>
  <div class="Join_Div" id="join_div_1">
    <%= select_tag "join_tag_1" , options_for_select(@joining_params.collect {|d|   [ d["name"] , d["value"] ] }.insert(0,"") ) ,class: "Join",id: "join_1" %>
    is related to 
    <%= select_tag "relation_tag_1" , options_for_select(@joining_params.collect {|d|   [ d["name"] , d["value"] ] }.insert(0,"") ) ,class: "Join",id: "relate_1" %>
    <button class="join_add" type="button" disabled="disabled" >Plus</button>
  </div>

  <h3> Choose any other select parameters </h3>
  <div class = "select_div" id = "select_div_1" >
    <%= select_tag "select_tag_1" , options_for_select(@joining_params.collect {|d|   [ d["name"] , d["value"] ] }.insert(0,"") ) ,class: "Select",id: "select_1" %>
    <button class="select_add" type="button" disabled="disabled" >Plus</button>
  </div>
  <h3 class="Entities" style = "display:none;"> Choose Grouping Parameters </h3>
  <div class="Entities" id="entity_1" style = "display:none;">
    <div class="form-group">
      <%= select_tag( :sadsa, options_for_select( [["select me for giving conditon", "where"],["select me for grouping","group"]] ),id: "selection_1" , name: "selection_1",class: "Selection" ) %>
    </div>
    <%= select_tag  "entity_name_1" ,   options_for_select( @project.entities.collect{ |d| [ d.model_name , d.table_name , {data: { arg: d.id}}] }.insert(0,"") ) , class: "model_select" %>
    <button class="add_entity" type="button" disabled="disabled" >Plus</button>
    <%=  tag("div", class:"span10 offset1 entity_above" , id: "entity_above_1" ) %>
    </div>
  </div>
    

  <%= submit_tag("Submit" , class: "btn btn-primary btn-medium") %>

<% end %>