<div class= "container">
  <h1>
    Add a new column
  </h1>
  <div class="row">
    <div class="span6">
      <%= form_tag(project_entity_fields_path( @project , @entity ) , method: "post") do %>

        Attribute Name <%= text_field_tag(:name) %> 
        Default <%= text_field_tag(:default) %>
        Can it be Null <%= select_tag( :null_id, options_for_select( [["Yes", "1"],["No","0"]] ) ) %>
        <%#= select_tag( :type_name,options_for_select( @types.collect {|d| [d.name, {id: d.arg.to_s , onclick:"hideshow(this.id);"}] } ) ) %>

        <%=collection_select(:type, :name, Datatype.find(:all), :name,:name,{},{ name: "type_name" ,onchange: "hideshow(this.value);"})%>

        <div id="arg1" style="display:none">First Argument <%= text_field_tag(:type_arg1)%></div>
        <div id="arg2" style="display:none">Second Argument <%= text_field_tag(:type_arg2) %></div>
        <%= submit_tag("Add") %>

      <% end %>
    </div>
  </div>
</div>